n8n/workflows/care_circle.json
{
  "name": "Care Circle Status",
  "nodes": [
    {
      "parameters": {
        "path": "care-circle-status",
        "options": {
          "responseCode": 200,
          "responseMode": "onReceived",
          "responseData": "default"
        }
      },
      "id": "Webhook",
      "name": "Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "equals",
              "value2": "AMBER"
            }
          ]
        }
      },
      "id": "IfAmber",
      "name": "If Amber",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 220]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "equals",
              "value2": "RED"
            }
          ]
        }
      },
      "id": "IfRed",
      "name": "If Red",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 420]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.N8N_FROM_EMAIL }}",
        "toEmail": "={{$env.CARE_AMBER_EMAIL}}",
        "subject": "amily: gentle nudge",
        "text": "={{$json[\"message\"]}}"
      },
      "id": "AmberEmail",
      "name": "Amber Elder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [760, 160]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.N8N_FROM_EMAIL }}",
        "toEmail": "={{$env.CARE_TEAM_EMAIL}}",
        "subject": "amily: Care Circle alert",
        "text": "={{$json[\"message\"]}}"
      },
      "id": "RedEmail",
      "name": "Care Team Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [760, 420]
    },
    {
      "parameters": {
        "fromEmail": "{{ $env.N8N_FROM_EMAIL }}",
        "toEmail": "={{$env.CARE_GREEN_EMAIL}}",
        "subject": "amily: status update",
        "text": "={{$json[\"message\"]}}"
      },
      "id": "GreenEmail",
      "name": "Green Update",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Status Webhook": {
      "main": [
        [
          {
            "node": "If Amber",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Red",
            "type": "main",
            "index": 0
          },
          {
            "node": "Green Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Amber": {
      "main": [
        [
          {
            "node": "Amber Elder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Red": {
      "main": [
        [
          {
            "node": "Care Team Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
